@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

header {
  font-size: 3.5vh;
  text-align: center;
}

.title:hover {
  color: palevioletred;
  cursor: pointer;
}

hr {
  margin: 0;
}

.contacts > p {
  font-size: 1.5vh;
  text-align: center;
  margin-top: 1px;
}

.contacts > p > span:hover {
  color: pink;
  cursor: pointer;
}

.contacts > p > span:active {
  color: rgb(218, 83, 105);
  cursor: pointer;
}

.strip {
  width: 60vw;
  height: 2.5vh;
  margin: 6vh 0 2vh 20vw;
  background-color:antiquewhite;
  padding: 4px;
}

.strip:hover {
  border: 4px solid rgb(201, 168, 126);
  padding: 0;
}

.strip:active {
  border: 4px solid rgb(156, 114, 58);
  padding: 0;
}

.strip-text {
  position: relative;
  font-size: 2.1vh;
  margin-left: 2vw;
  color: rgb(214, 135, 15);
}

.text > li {
  margin-left: 21.5vw;
  font-size: 1.7vh;
  line-height: 3vh;
}

.education > p {
  margin-top: 1vh;
}

.education-text {
  margin-left: 23vw;
  font-size: 1.7vh;
  width: 55vw;
}

.education-text > span:hover {
  color: #FF7104;
}

.margin {
  margin-top: 3vh;
}

.bottom {
  margin-top: 5vh;
}

@media (max-width: 450px) {
  .text > li {
    margin-left: 18vw;
    font-size: 1.7vh;
    line-height: 3vh;
  }

  .education-text {
    margin-left: 24.5vw;
  }
}